name: Build AMI with Packer
on:
 push:
   branches:
     - main
jobs:
  packer_install_and_build:
    runs-on: ubuntu-latest

    env:
     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Packer
        uses: hashicorp/setup-packer@v2
        with:
          version: latest

      - name: Initialize Packer
        run: packer init templates/aws-ubuntu.pkr.hcl

      - name: Validate Packer template
        run: packer validate templates/aws-ubuntu.pkr.hcl

      - name: Build AMI
        run: packer build templates/aws-ubuntu.pkr.hcl